<%- include('template/header'); %>

<h1><%= title %></h1>
<p><%= message %></p>
<p><a href="/categorias">Categorias</a></p>
<p><a href="/produtos">Produtos</a></p>

<%- include('template/footer'); %>
